<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Alerts
    </ion-toggle>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Alert Category
                </div>
                <select>
                    <option>Gas & Fuel</option>
                    <option selected>Shopping</option>
                    <option>Groceries</option>
                    <option>Home Improvement</option>
                    <option>Personal Care</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Alert Category
                </div>
                <select>
                    <option>Gas & Fuel</option>
                    <option selected>Shopping</option>
                    <option>Groceries</option>
                    <option>Home Improvement</option>
                    <option>Personal Care</option>
                </select>
            </label>

        </div>
    </ion-list>
  </ion-content>
</ion-view>
