<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Alerts
    </ion-toggle>
        <label class="item item-input item-icon-right">
            <span class="input-label">Yo Momma's Number</span>
            <input class="input" type="tel" placeholder="18194171381" value="18194171381">
        </label>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Alert Category
                </div>
                <select>
                    <option>Gas & Fuel</option>
                    <option selected>Shopping</option>
                    <option>Groceries</option>
                    <option>Home Improvement</option>
                    <option>Personal Care</option>
                </select>
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Alert Amount
                </div>
                <input type="number" placeholder="3000" value="3000">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Alert Category
                </div>
                <select>
                    <option>Gas & Fuel</option>
                    <option>Shopping</option>
                    <option selected>Groceries</option>
                    <option>Home Improvement</option>
                    <option>Personal Care</option>
                </select>
            </label>
            <label class="item item-input">
                <div class="input-label">
                    Alert Amount
                </div>
                <input type="number" placeholder="3000" value="3000">
            </label>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
